<div class="list-group">
	<ul class="nav nav-list bs-docs-sidenav mt-5">
		<li class="list-group-header">
			<label>系统管理控制台</label>
		</li>
		<li class="{{ css_page_dashboard }}">
			<a href="{{ app_url_action_base }}/admin/dashboard"><i class="icon-chevron-right"></i> 系统概况</a>
		</li>
		<li class="{{ css_page_user }}">
			<a href="{{ app_url_action_base }}/admin/user_list"><i class="icon-chevron-right"></i> 用户管理</a>
		</li>
		<li class="{{ css_page_invitation }}">
			<a href="{{ app_url_action_base }}/admin/invitation">
				<i class="icon-chevron-right"></i> 邀请码管理
			</a>
		</li>
		<li class="{{ css_page_cake }}">
			<a href="{{ app_url_action_base }}/admin/cake">
				<i class="icon-chevron-right"></i> 短语管理
			</a>
		</li>
	</ul>
</div>