{%extends 'layout/base.html'%}
{% block title %}悦伊-所谓伊人，在水一方{% endblock %}
{% block page_css %}
{% endblock %}
{% block js %}
{% endblock %}
{% block jquery %}
	$.vegas( 'slideshow', {
		delay: 8000,
		backgrounds: [
			{ src: '/images/background4.jpg', fade: 4000 },
			{ src: '/images/background3.jpg', fade: 4000 },
			{ src: '/images/background2.jpg', fade: 4000 },
			{ src: '/images/background1.jpg', fade: 4000 }
		]
	} );
	
	// 验证用户登录与注册
	sher.build_auth_page();
	
	$('.btn-auth').bind('click', function(){
		$('.home-login').css({'padding-top':'200px'});
		
		var pos = $(this).position();
		var left = pos.left + $(this).width() + 50;
		$('.form-arrow').css({'background-position': left}).show();
		
		var el =  this.hash && this.hash.substr(1);
		if(el == 'login-form'){
			$('#register-form').addClass('hide');
		}else{
			$('#login-form').addClass('hide');
		}
		$('#'+el).removeClass('hide');
		
		$('#auth-box').css({'bottom':'-20px'})
			.slideDown("slow");
		
		return false;
	});
	
	$('#fetch-verify-code').click(function(){
		var phone = $('#phone').val();
		var invite_code = $('#invite_code').val();
		if(phone && invite_code){
			$(this).addClass('disabled').text('正在发送');
			$this = $('#fetch-verify-code');
			$.getJSON('/app/site/index/verify_code',{'phone': phone},function(result){
				if(result.errorCode == 200){
					$this.removeClass('disabled').text('获取验证码');
				}
			});
		}else{
			alert('请首先正确填写邀请码与手机号码！');
		}
	});
	
{% endblock %}
{% block layout_content %}
<div id="bd">
	<div id="page-home">
	    {% block content %}
			<div class="home-login">
				<div class="text-center mb-30">
					<img src="{{ app_url_images }}/rayshe.png" alt="所谓伊人，在水一方。" />
				</div>
				<div class="buttons-box">
					<a href="#login-form" class="btn btn-inverse btn-lg btn-auth">登录</a> <a href="#register-form" class="btn btn-inverse btn-lg btn-auth">注册</a>
				</div>

				<div class="list-group" id="auth-box">
					<div class="form-arrow"></div>
					<!--alert box-->
					<div id="alert-box" class="alert-box-home"></div>
					<form action="{{ app_url_action_base }}/auth/do_login" class="form-horizontal auth-form hide" method="post" id="login-form">
						<h3>现在登录</h3>
						<div class="form-group clearfix">
						  	<label class="col-sm-3 control-label">手机号码：</label>
							<div class="col-sm-9 clearfix">
								<input type="text" class="form-control" name="account" />
							</div>
						</div>
						<div class="form-group">
						  	<label class="col-sm-3 control-label">密码：</label>
							<div class="col-sm-9">
								<input type="password" class="form-control" name="password" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<input type="hidden" name="t" value="{{ login_token }}" />
						    	<input type="submit" class="btn btn-success btn-lg she-submit" value="立即登录" />
							</div>
						</div>
					</form>
					
					<form action="{{ app_url_action_base }}/auth/do_register" class="form-horizontal auth-form hide" method="post" id="register-form">
						<h3>现在注册</h3>
						<div class="form-group mt-20">
						  	<label class="col-sm-3 control-label">邀请码：</label>
							<div class="col-sm-9">
								<input name="invite_code" type="text" maxChars="24" class="form-control" value="{{ invite_code }}"  remote="{{ app_url_action_base }}/auth/ajax_check_invite_code" id="invite_code" />
							</div>
						</div>
						<div class="form-group clearfix">
						  	<label class="col-sm-3 control-label">手机号码：</label>
							<div class="col-sm-9 clearfix">
								<input type="text" class="form-control pull-left she-w" name="account" id="phone" />
								<button type="button" class="btn btn-default pull-right" id="fetch-verify-code">获取验证码</button>
							</div>
						</div>
						<div class="form-group">
						  	<label class="col-sm-3 control-label">验证码：</label>
							<div class="col-sm-9">
								<input type="text" class="form-control she-w" name="verify_code" />
								<span class="help-block hide">请输入手机收到的验证码。如果一段时间没有收到，请重新获取.</span>
							</div>
						</div>
						<div class="form-group">
						  	<label class="col-sm-3 control-label">密码：</label>
							<div class="col-sm-9">
								<input type="password" class="form-control" name="password" id="password" />
								<span class="help-block hide">密码长度6~16位，数字、字母、字符至少包含两种</span>
							</div>
						</div>
						<div class="form-group">
						  	<label class="col-sm-3 control-label">确认密码：</label>
							<div class="col-sm-9">
								<input type="password" class="form-control" name="password_confirm" />
							</div>
						</div>
					
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<input type="hidden" name="t" value="{{ login_token }}" />
						    	<input type="submit" class="btn btn-success btn-lg she-submit" value="确认注册" />
							</div>
						</div>
					
					</form>
				</div>

			</div>
		{% endblock %}
	</div>
</div>
{% endblock %}